

main{


    .article-container{
        @include container-width;

        .article-hero{
                .hero-text{
                    h1{
                        text-align:center;
                        @include hero-heading;
                    }
                    p{
                        text-align: center;
                        @include hero-text;
                    }
            }
            .hero-img{
                margin-left:calc(50% - 50vw);
                margin-right:calc(50% - 50vw);
                margin-top:2.1rem;
                img{
                    width:100%;
        
                }
            }
            hr{
                margin-top:1.1rem;
                border:1px solid #000;
            }
        }


        .article-author{
            display:flex;
            flex-direction: column;
            margin-top:1.5rem;
            .left{
                display:flex;
                align-items: center;
            }
            .avatar{
                img{
                    width:56px;
                    height:56px;
                    object-fit: cover;
                    border-radius:50px;
                }
            }
            .author-info{
                margin-left:1rem;
                font-size:.85rem;
                // margin-top:1.1rem;
                p{
                    margin:0;
                }
                p.name{
                    font-family:'SF Pro Text';
                    font-weight:600;
                    text-transform: uppercase;
                }
                .read{
                    margin-top:.4rem;
                }
            }
            .author-socials{
                display:grid;
                grid-template-columns: 1fr 1fr;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
                border-radius:4px;
                justify-content: space-around;
                align-items: center;
                border:1px solid #EAEAEA;;
                margin-top:1.5rem;
                overflow: hidden;

                .social-link{
                    display:flex;
                    justify-content: center;
                    svg{
                        path{
                            fill:#000;
                        }
                    }
                }
                .social-link:not(:first-child){
                    border-left:1px solid #EAEAEA;;
                }
                .social-link:hover{
                    background:#000;

                    svg{
                        path{
                            fill:#fff;
                        }
                    }
                }
                a{
                    margin:0;
                    padding:0;
                    text-align: center;
                    width:100%;
                    padding:1rem 0;
                    display:block;
                }
            }

        }

        //Article Content Styling Starts


        .article-content{
            p{
                font-family: 'New York';
                font-weight:500;
            }
            h2{
                font-family: 'SF Pro Display';

            }
            &__img{
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
                padding-top:1.5rem;
                padding-bottom:1rem;
                img{
                    width:100%;
                }
                p.caption{
                    padding:.5rem 0;
                    text-align: center;
                    max-width:80%;
                    margin:0 auto;
                    font-family: 'SF Pro Text';

                }
            }
           
            
        }

        //Article Content Styling Ends

        .shareables{
            margin-top:2rem;
            #share-text{
                font-family: 'SF Pro Text';
                margin:0;
                padding:0;
                padding-bottom:.6rem;
            }
            &-container{
                display:grid;
                grid-template-columns: 1fr 1fr;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
                border-radius:4px;
                justify-content: space-around;
                align-items: center;
                border:1px solid #EAEAEA;;
                overflow: hidden;
    
           
            .shareable-link{
                display:flex;
                justify-content: center;
                svg{
                    path{
                        fill:#000;
                    }
                }
            }
            .shareable-link:not(:first-child){
                border-left:1px solid #EAEAEA;;
            }
            .shareable-link:hover{
                background:#000;
                color:#fff;
                svg{
                    path{
                        fill:#fff;
                    }
                }
                a{
                    color:#fff;
                }
            }
            a{
                display:flex;
                align-items: center;
                margin:0;
                padding:0;
                text-align: center;
                width:100%;
                padding:1rem 0;
                display:block;
                text-decoration: none;

                span{
                    // display:inline-block;
                    display:none;
                }
            }
        }
    }

    .article-tags{
        display:flex;
        align-items: center;
        margin-top:.6rem;
        .tags{
            font-family: 'SF Pro Text';
            font-weight:500;
            
        }
        .tags-list{
            margin-left:.4rem;

            a{
                color:#000;
                span{
                    margin:0;
                    padding:0;
                }
            }
        }
    }

    //Author Description Begins

    .author-description{
        display:flex;
        align-items: center;
        border-top:1px dotted #000;
        padding:1.5rem 0;
        margin-top:.6rem;
        .avatar{
            img{
                width:56px;
                height:56px;
                object-fit: cover;
                border-radius:50px;
            }
        }
        p{
            margin:0;
            padding:0;
            margin-left:1.1rem;
            strong{
                font-family:'SF Pro Text';
                font-weight:600;
                text-transform: uppercase;
            }
            font-family: 'New York';
            font-weight:500;
        }
    }

    //Author Description Ends


    }

}